* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.container {
  width: 1300px;
  margin: auto;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

header .container .logo img {
  height: 80px;
}

header .container nav a {
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  color: #464646;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

header .container nav a i {
  color: #0C7CEC;
}

header .container .search {
  border-bottom: 2px solid #0C7CEC;
  color: #0C7CEC;
  display: flex;
}

header .container .search input {
  border: none;
  text-align: right;
  width: 140px;
}

header .container .search input ::-moz-placeholder {
  color: #000000;
}

header .container .search input :-ms-input-placeholder {
  color: #000000;
}

header .container .search input ::placeholder {
  color: #000000;
}

header .container .search span {
  margin-left: 1rem;
  color: #0C7CEC;
}

header .jumbotron {
  height: 500px;
  width: 100%;
  background-image: url("/../img/jumbotron.jpg");
}

footer {
  background-image: url("/../img/footer-bg.jpg");
  background-size: cover;
}

footer .footer_main {
  display: flex;
}

footer .footer_main .left_side {
  width: 50%;
  margin: 2rem 0;
}

footer .footer_main .left_side .columns {
  display: flex;
}

footer .footer_main .left_side .columns .column {
  margin: 1.5rem 2rem 1.5rem 0;
}

footer .footer_main .left_side .columns .column .title {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

footer .footer_main .left_side .columns .column ul {
  margin: 1rem 0;
}

footer .footer_main .left_side .columns .column ul li {
  list-style: none;
  margin: 0.65rem 0;
}

footer .footer_main .left_side .columns .column ul li a {
  color: #777677;
  text-decoration: none;
  text-transform: capitalize;
}

footer .footer_main .left_side span {
  color: #777677;
  font-size: 0.9rem;
}

footer .footer_main .left_side span a {
  text-decoration: none;
  color: #0C7CEC;
}

footer .footer_main .right_side {
  width: 50%;
  background-image: url("/../img/dc-logo-bg.png");
  background-size: cover;
  background-position: 0% 60%;
}

footer .socials_c2a {
  background-color: #303030;
  padding: 2rem;
}

footer .socials_c2a .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .socials_c2a .container .c2a button {
  color: #ffffff;
  background-color: #303030;
  border: 1px solid #0C7CEC;
  text-transform: uppercase;
  padding: 0.75rem;
}

footer .socials_c2a .container .socials {
  display: flex;
  align-items: center;
}

footer .socials_c2a .container .socials span {
  color: #0C7CEC;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 1rem;
}

footer .socials_c2a .container .socials img {
  height: 40px;
  margin-right: 1rem;
}

